.sizeunidad{
    width: 30px;
}

.sizeempresa{
    width: 60px;
}

.sizeseleccionar{
    width: 20px;
}

.sizedescripcion{
    width: 700px;
}

.fs_acsa{
    font-size: 12px;
}

.fs-ayuda{
    font-size: 12px;
}


.sizeseleccionar i:hover{
    color:red
}