.sizeunidad{
    width: 30px;
}

.sizeempresa{
    width: 80px;
}

.sizeseleccionar{
    width: 20px;
}

.sizedescripcion{
    width: 700px;
}

.fs_acsa{
    font-size: 12px;
}

.fs-ayuda{
    font-size: 12px;
}

